.header {
    background: maroon;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    font-size: large;
}